body {
  display: flex;
  justify-content: center;
  background-color: #333333;
}

.App {
  text-align: center;
}

#drum-machine {
  display: flex;
  justify-content: center;
  wrap: wrap;
  width: 120px;
  height: 200px;

}
